<mat-toolbar>
  <span class="example-spacer"></span>
  <span id="profile-title">Welcome !</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item type="button" (click)="toggleScreenScope('profile')" >
      <mat-icon>person</mat-icon>
      <span>My Profile</span>
    </button>
    <button mat-menu-item type="button" (click)="toggleScreenScope('contactList')" >
      <mat-icon>edit</mat-icon>
      <span>Contact List</span>
    </button>
    <button mat-menu-item type="button" (click)="signOutUser()" >
      <mat-icon>login</mat-icon>
      <span>Sign Out</span>
    </button>
  </mat-menu>
</mat-toolbar>
