.container {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.col {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 1em;
}

table {
  width: 100%;
}

mat-label {
  color: white;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
  color: white;
}

.profile-pic {
  height: 4em;
  border-radius: 5em;
  display: flex;
  padding: 0.5em 0.5em;
  justify-content: center;
}
