<form action="" [formGroup]="userRegisterForm" (ngSubmit)="signUpUser(userRegisterForm.value)">
  <mat-form-field>
    <input matInput placeholder="First Name" name="firstName" formControlName="firstName">
    <mat-icon matSuffix>perm_identity</mat-icon>
    <mat-error *ngIf="firstName.touched && firstName.hasError('required')">
      First Name is required
    </mat-error>
    <mat-error *ngIf="firstName.touched && firstName.hasError('minlength')">
      Minimum accepted text is of 2 characters
    </mat-error>
    <mat-error *ngIf="firstName.touched && firstName.hasError('maxlength')">
      Maximum accepted text is of 30 characters
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last Name" name="lastName" formControlName="lastName">
    <mat-icon matSuffix>perm_identity</mat-icon>
    <mat-error *ngIf="lastName.touched && lastName.hasError('required')">
      Last Name is required
    </mat-error>
    <mat-error *ngIf="lastName.touched && lastName.hasError('minlength')">
      Minimum accepted text is of 2 characters
    </mat-error>
    <mat-error *ngIf="lastName.touched && lastName.hasError('maxlength')">
      Maximum accepted text is of 30 characters
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Email/Phone Number" name="compositeField" compositeField="true" formControlName="compositeField">
    <mat-icon matSuffix>perm_identity</mat-icon>
    <mat-error *ngIf="compositeField.touched && compositeField.hasError('required')">
      Email/Phone Number is required
    </mat-error>
    <mat-error *ngIf="compositeField.touched && compositeField.hasError('mobile')">
      Mobile Number is invalid.
    </mat-error>
    <mat-error *ngIf="compositeField.touched && compositeField.hasError('email')">
      Email is invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password" validateEqual="confirmPassword"
      reverse="true">
    <mat-error *ngIf="password.touched && password.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="password.touched && password.hasError('minlength')">
      Minimum accepted text is of 4 characters
    </mat-error>
    <mat-error *ngIf="password.touched && password.hasError('maxlength')">
      Maximum accepted text is of 12 characters
    </mat-error>
    <mat-error *ngIf="password.touched && confirmPassword.touched && password.hasError('validateEqual')">
      Password does not match
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Confirm Password" type="password" validateEqual="password" reverse="false"
      formControlName="confirmPassword">
    <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="confirmPassword.touched && confirmPassword.hasError('validateEqual')">
      Password does not match
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="userRegisterForm.invalid" class="login-button">
    Sign Up
  </button>
</form>
