/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  background-color: #303F9F;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}


mat-form-field,
mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 20px;
}

.clickable{
  cursor: pointer;
}
