<form [formGroup]="userLoginForm" (ngSubmit)="signInUser(userLoginForm.value)">
  <mat-form-field>
    <input matInput placeholder="Email/Phone No."  compositeField="true" formControlName="compositeField" >
    <mat-error *ngIf="userLoginForm.controls.compositeField.touched && userLoginForm.controls.compositeField.hasError('required')">
      Email/Phone Number is required
    </mat-error>
    <mat-error *ngIf="userLoginForm.controls.compositeField.touched && userLoginForm.controls.compositeField.hasError('mobile')">
      Mobile Number is invalid.
    </mat-error>
    <mat-error *ngIf="userLoginForm.controls.compositeField.touched && userLoginForm.controls.compositeField.hasError('email')">
      Email is invalid
    </mat-error>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" formControlName="password">
    <mat-error *ngIf="userLoginForm.controls.password.touched && userLoginForm.controls.password.hasError('required')">
      Password is required
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary"  [disabled]="userLoginForm.invalid" class="login-button">
    Sign In
  </button>
</form>
